#top_search_area {
    width: 215px;
   }
.gamebox_info_views{
    margin-left:0px;
    float: none;
  }

.recent_games_ratings span{
    font-size:10px;
    font-weight:normal;
    float:right;
  }
.stepcarousel .panel img{
  margin: 0px 0px 0px 0px;
  padding: 0;
}
.stepcarousel .panel{
  float: left;
  overflow: hidden;
  width: 135px;
  height: 140px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin:0 6px;
  padding-top: 10px;
}
*+html #loginform {
  padding:0px 5px 0px 7px;
  margin-top: -1px;
  float:right;
}
*+html #loginform #log,
*+html #loginform #pwd{
  -webkit-border-radius:3px;
  border-radius:3px;
  padding: 4px;
  font-size: 11px;
  width: 100px;
  margin-right: 5px;
}
*+html #loginform .submit{
  display: inline-block;
  text-decoration: none;
  padding:3px 6px 0px 25px;
  line-height: 10px;
  margin:0 0 0 8px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
*+html #loginform a{
  display: inline-block;
  text-decoration: none;
  padding:0px 6px 0px 25px;
  line-height: 23px;
  margin:0 0 0 8px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
*+html .single-sidebar2_left ul,
*+html .single-sidebar2_right ul {
      margin-left: 0px;
}