.gamebox {
	width: 297px;
	float: left;
    box-shadow:0 1px 0 rgba(0,0,0,.4);
    -moz-box-shadow:0 1px 0 rgba(0,0,0,.4);
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.4);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:10px;
    margin: 0 13px 13px 0px;
}
.gamebox h1{
  margin-left: 3px;
  margin-right: 3px;
}
.contentleft .gamebox {
   margin: 0 0px 13px 13px;

}
.gamebox h2{
    padding: 5px 0 10px 10px;
    background-position:0px -7px;
    background-repeat:repeat-x;
	overflow:hidden;
	margin:0px 0 6px 0px;
}
.gamebox h2 a {
	font-size: 20px;
    font-family: Tahoma;
	float: left;
    padding: 0 6px 10px 5px;
    text-transform: capitalize;
}

.games-ul{
  list-style-type: none;
  padding: 0 0 0 10px;
  font-size: 11px;
}

.games-ul li{
  background-image: url(../images/cat_arrow.png);
  background-repeat: no-repeat;
  background-position: 6px 3px;
  display: block;
  margin: 5px 0 0;
  padding: 0 0 0 24px;
}
.gamebox_image {
	float: left;
	text-align: center;
    padding:5px 5px 5px 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 4px;
    -webkit-box-shadow: 1px 1px 9px 0px #cccccc;
    -moz-box-shadow: 1px 1px 9px 0px #cccccc;
    box-shadow: 1px 1px 9px 0px #cccccc;
}
.gamebox_image:hover {
  background-color: #333333;
}
.gamebox_info {
	float: left;
	padding:5px 0px 0px 5px;
    margin-left: 5px;
	width: 180px;
	text-align: left;
	font-family:arial;
	font-size: 12px;
}
.gamebox_title a {
	font-weight:bold;
	font-family:arial;
	font-size:15px;
	text-decoration:none;
}
.gamebox_head img{
  float: right;
}
.recent_games_ratings img{

}
.gamebox_head_wrapper{
  background-image: url(../images/dottedline.png);
  background-position: bottom;
  background-repeat: repeat-x;
  padding-bottom: 5px;
  margin-bottom: 8px;
  overflow: hidden;
}
.lb_enabled {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/trophy_smaller.png);
  background-repeat: no-repeat;
  float: right;
}