.gamebox{
  width: 623px;
  padding:10px;
  margin: 0 0 15px 0px;
}

.gamebox h1{
  margin-left: 3px;
  margin-right: 3px;
}

.gamebox h2{
  overflow: hidden;
  margin: 0 0 5px;
  padding: 5px 0 0 10px;
}
.gamebox .thumb_link img{
  width: 93px;
  height: 93px;
  z-index: 10;
}