body{
  background-color:#aedfff;
  background-image: url(../images/bg.png);
  color: #6C6C6C;
}

a{
  color: #04a1da;
}

a:hover{
  color: #6C6C6C;
}

blockquote{
  color: #31333F;
  border-left: 2px solid #07A0E3;
}

img.alignnone, img.alignright, img.alignleft{
  background-color: #fff;
  border: 1px solid #DDD;
}

.wp-caption{
  border: 1px solid #DDD;
  background-color: #fff;
}

#wrapper{
}

#fgpage{
}

#content_game{
  background-image:url(../images/Blue/game_bg.png);
  background-repeat:repeat-x;
  background-position:bottom center;
}
#fullgame {
  background-image:url(../images/bg_trans.png);
  border: 5px solid #FFFFFF;
}

 #fullgame h2 {
   background-image:url(../images/arrowback.png);
   background-position: left;
   background-repeat: no-repeat;
}
#content{
  box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.4);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
  background-color: #FFFFFF;
}
#top{
  background-image: url(../images/bg_trans.png);
  background-color: rgba(255, 255, 255, 0.7);
  border:1px solid #FFFFFF;
}

.blogname h1 a:hover{
  color: #eee;
}

.blogname h2{
  color: #343434;
}
#leaderboard_area {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}
#search_input{
  border: 0px;
  color:#999999;
  background-color: transparent;
}
#search_form input{
  background-color: #FFFFFF;
}

#top_container {
  background-image: url(../images/Blue/featured_slider.png);
  background-position:bottom center;
  background-repeat:no-repeat;
}
#home-position1 {
    background-image: url(../images/bg_trans.png);
    border:1px solid #FFFFFF;
    color:#FFFFFF;
}
#home-position2 {
    background-image: url(../images/bg_trans.png);
    border:1px solid #FFFFFF;
	color:#FFFFFF;
}

#home-position3 {
    color:#FFFFFF;
    box-shadow:0 1px 0 rgba(0,0,0,.4);
    -moz-box-shadow:0 1px 0 rgba(0,0,0,.4);
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.4);
    background-color:#ffffff;
}
.recent_games_image {
    background-color:#ffffff;
	color:#808080;
    border: 3px solid #e9e9e9;
}
.recent_games_image:hover {
    border: 3px solid #00a6d6;
}
.module_title,#content h1,#content .gamebox h2 {
    background-image: url(../images/module_header_bg.png);
    background-position:0px -8px;
    background-repeat:repeat-x;
}
.module_title span,#content h1 span,#content .gamebox h2 span{
    background-color: #ffffff;
}
.cont3{
    background-image:url(../images/bg_trans.png);
    border: 5px solid #FFFFFF;
}
.game_name{
	color: #2f2a23;
    }
#bordeswf{
  border: 0 solid #3F3F3F;
}

.favoritos{
  background-image: url(../images/buttons_default.png);
  background-repeat:no-repeat;
  background-position:0 -160px;
}

.favoritos:hover{
  background-image: url(../images/buttons_default.png);
  background-repeat:no-repeat;
  background-position:0 -192px;
}

.fullscreen{
  background-image: url(../images/buttons_default.png);
  background-repeat:no-repeat;
  background-position:0 -96px;
}

.fullscreen:hover{
  background-image: url(../images/buttons_default.png);
  background-repeat:no-repeat;
  background-position:0 -128px;
}

.interruptor{
  background-image: url(../images/buttons_default.png);
  background-repeat:no-repeat;
  background-position:0 0;
}

.interruptor:hover{
  background-image: url(../images/buttons_default.png);
  background-repeat:no-repeat;
  background-position:0 -64px;
}
#turnoff{
  background-color: #000;
}
.thumb_link .lb_enabled{
  background-image: url(../images/icon_trophy.png);
  background-repeat:no-repeat;
}
.title {
  background-image: url(../images/module_header_bg.png);
  background-position:0px -8px;
  background-repeat:repeat-x;
}
.title h2{
	color:#E74131;
    background-color: #ffffff;
}
.luz_apagada{
  background-image: url(../images/buttons_default.png);
  background-repeat:no-repeat;
  background-position:0 -32px;
}

.date{
  color: #8b8b8b;
}

.cat_link{
  background-color: #7cbadd;
  background-image: url(../images/cat_link_arrow.png);
  background-repeat: no-repeat;
  background-position:7px center;
}
.cat_link:hover{
  background-color: #adadad;
}
.cat_link a{
  color: #FFFFFF;
}
.entry a:link,.entry a:visited{
  background-color: transparent;
}

.entry a:hover{
  color: #455236;
  background-color: transparent;
}

.related h3{
  color: #7ebde1;
}
.related h3:hover{
  color: #333333;
}

.related ul li a:hover{
  color: #0A7CAF;
}

.sidebar ul li a:link,.sidebar ul li a:visited{
  color: #333;
}
.sidebar ul li a:hover{
  color: #E74131;
}

.widgetad{
  border: 1px solid #dcdcdc;
}

h2.pagetitle{
  color: #4A413C;
}

.post{
  background-color: #ebe1d2;
  border: 1px solid #ded5c9;
  color: #6c5b42;
}

.post img{
  background-color: #fff;
  border: 1px solid #ddd;
}

#respond{
  background-color: #fff;
  border: 1px solid #e5e3e4;
}

#respond h3{
  color: #444;
}

#commentform{
  color: #BFAFA7;
}

#commentform p{
  color: #808080;
}
.required{
  color: #E74131;
}
#recentcomments li {
  background-image: url(../images/cat_arrow.png);
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: 7px 11px;
}
#recentcomments li a{
  color: #04A1DA;
}
#recentcomments li a:hover{
  color: #6C6C6C;
}
#commentform .comment-notes{
  background-color: #FFFFCC;
  border:solid 0px #DEDEDE;
  color: #9F6000;
}
#commentform #submit{
  color: #FFFFFF;
  background-color: #81bb33;
}
.comments input#submit{
  background-color: #0083DB;
  border: 2px solid #005F9F;
  color: #fff;
}
ol.commentlist li{
  border: 1px solid #DEDCDD;
}
ol.commentlist li div.vcard {
  background-image: url(../images/dottedline.png);
  background-position: bottom;
  background-repeat: repeat-x;
  padding-bottom: 5px;
}
div.vcard img.avatar{
}
ol.commentlist li div.comment-meta a{
  color: #959595;
  font-size: 11px;

}
ol.commentlist li div.comment-meta a.comment-edit-link{
  color: #E74131;
}
ol.commentlist li div.comment-meta a.comment-edit-link:hover{
  color: #333333;
}
ol.commentlist li p{
  color: #4d4d4d;
}

#cancel-comment-reply-link{
  color: #fff;
  background-color: #e74131;
}

ol.commentlist li.even{
  border: 0px;
}

ol.commentlist li.odd{
  background-color: #f4f4f4;
  border: 0px;
}

.stepcarousel .panel{
  background-color: #FFFFFF;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  font-family: Tahoma;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.4);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}
.stepcarousel .panel:hover{
  background-color: #333333;
}

.stepcarousel a.panel:hover{
  color: #FFFFFF;
}

.stepcarousel .panel img{
  background-color: #FFFFFF;
}
#postlist ul li span:hover{
  color: #04a1da;
}
#postlist ul{
  border: none;
  background-color: transparent;
}
#postlist li .frating{
  color: #999999;
}
#postlist li{
  background-image: url(../images/dottedline.png);
  background-position: bottom;
  background-repeat: repeat-x;
}

#postlist li .frating a:link,#postlist li .frating a:visited{
  color: #a6a6a6;
}

#postlist li .auth{
  color: #7B7B7B;
  font-family: arial;
  font-size: 12px;
}
#display_games #postlist li .fthumb:hover{
  background-color: #333333;
}

.widgets{
  background-color: #FFF;
  border: 1px solid #ccc;
}

.widgets a:hover{
  color: #009;
}

div#mngl-profile-tab-control ul,.profile-edit-table,.mngl-search-form,.mngl-post-form{
  width:95%!important;
}

.mngl-post-form{
  background: none;
}

.topad{
  background-color: #535A5F;
}

.blogname h1,.blogname h1 a:link,.blogname h1 a:visited{
  color: #cacccd;
}

#headbanner,#rss{
  border: 1px solid #000;
}

#menu ul li a,#menu.current_page_item a, ol.commentlist li div.vcard cite.fn a.url, ol.commentlist li div.vcard cite.fn a.url:hover{

}

#menu ul li a:hover{
  color:#848484;
}
#menu{
  background-color:#ffffff;
}

#content h1,#content .gamebox h2,.game_title a{

}

.game_title img,.moregames img{
  -webkit-box-shadow: 1px 1px 9px 0px #CCC;
  -moz-box-shadow: 1px 1px 9px 0px #cccccc;
  box-shadow: 1px 1px 9px 0px #CCC;
}
.game_title img:hover,.moregames img:hover{
  background-color: #333333;
}
.moregames{
  color:#898989;
}
.entry img{
  border: 3px solid #E9E9E9;
}

.widgetimage,.gravatar img{
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 9px 0px #CCC;
  -moz-box-shadow: 1px 1px 9px 0px #cccccc;
  box-shadow: 1px 1px 9px 0px #CCC;
  }

.contentbox{
    box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .4);
    background-color: #FFFFFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#gamelist{
    color:#FFFFFF;
    box-shadow:0 1px 0 rgba(0,0,0,.4);
    -moz-box-shadow:0 1px 0 rgba(0,0,0,.4);
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.4);
    background-color:#ffffff;
}
#gamelist h1{
  color:#82c2e7;
  border-bottom: 6px solid #dbdbdb;
}
#gamelist ul a{
  color: #848484;
  background-image: url(../images/gamelist_li.png);
  background-position:left 0;
  background-repeat: no-repeat;
}
#gamelist ul a:hover{
  color: #74aecf;
}

.gamebox h1{
}

.singlepage{
  color: #504945;
}
.cat_view{
  background-image: url(../images/dottedline.png);
  background-position: bottom;
  background-repeat: repeat-x;
  padding-bottom: 5px;
}
.cat_view_image{
    -webkit-box-shadow: 1px 1px 9px 0px #cccccc;
    -moz-box-shadow: 1px 1px 9px 0px #cccccc;
    box-shadow: 1px 1px 9px 0px #cccccc;
}
.cat_view h4{
   color: #e74131;
}
.related ul li{
  background-image: url(../images/dottedline.png);
  background-position: bottom;
  background-repeat: repeat-x;
}
.single_game{
  color:#909090;
}

ol.commentlist li div.reply a{
  color: #FFFFFF;
  background-color: #81bb33;
}
ol.commentlist li div.reply a:hover{
  color: #FFFFFF;
  background-color: #e74131;
}

.related ul li a:link,.related ul li a:visited,.widgets a{
  color: #222;
}

.sidebar h2,.listi{
  color: #fff;
  background-color: #535A5F;
  border: 1px solid #40494F;
}

ul.blogroll li{
  background-image: url(../images/cat_arrow.png);
  background-color: #F4F4F4;
  background-position: 7px 11px;
}

.userinfo{
  color: #535353;
}

.post h2 a,.post h2 a:link,.post h2 a:visited,.post h2 a:hover{
  color: #354151;
  background-color: transparent;
}

h3#comments, h3#pingbacks{
  border: 1px solid #DEDCDD;
  color: #444;
  background-color: #fff;
}
.breadcrumbs{
  color: #51493C;
  background-color: white;
}
#commentform input,#commentform textarea{
  background-color: #F4F4F4;
  border: 1px solid #DEDCDD;
  color: #444;
}
#header_top {
    color:#6C6C6C;
}
#header_top a{
  color: #827864;
  border-bottom: 3px solid #c2aa9f;
}
#header_top a:hover{
  color: #333;
  border-bottom: 3px solid #86c9ef;
}
fieldset#header_top form label input{
  border: 1px dotted #555;
  color: #535353;
}

#loginform #log,
#loginform #pwd{
  background-color: #FFFFFF;
  border: 1px solid #e3e3e3;
  color:#999999;
}
#loginform .registericon a{
  background-color:#FFFFFF;
  background-image: url(../images/online.png);
  background-repeat: no-repeat;
  background-position: 4px 3px;
  border: 1px solid;
  border-color: #EDEDED #999 #999 #EDEDED;
  color: #333333;
}
#loginform .submit {
  background-color:#FFFFFF;
  background-image: url(../images/loginicon.png);
  background-repeat: no-repeat;
  background-position: 4px 3px;
  border: 1px solid;
  border-color: #EDEDED #999 #999 #EDEDED;
  color: #333333;
}
#loginform a:hover,
#loginform .submit:hover {
  border: 1px solid #ABABAB;
  box-shadow: 0px 0px 3px  #A3A3A3;
  -webkit-box-shadow: 0px 0px 3px #A3A3A3;
  -moz-box-shadow: 0px 0px 3px #A3A3A3;
  color: #333;
}
#home-position-top{
    background-image: url(../images/bg_trans.png);
    border:1px solid #FFFFFF;
    color:#FFFFFF;
}
.stepcarousel{
}

#postlist li span,#postlist li a{
  color: #535A5F;
}
.gamebox{
  background-color: #ffffff;
}

.gamebox_info {
    color: #7b7b7b;
}

.gamebox h2 {
    background-image: url(../images/module_header_bg.png);
}
.gamebox h2 a {
    background-color:#FFFFFF;
}
.home-sidebar {
    background-color:#ffffff;
}
.home-sidebar .module_title span{
	color:#51493C;
}
.module_title span{
	color:#51493C;
    font-size: 18px;
}
#footer-widget-area{
  background-color: #FFFFFF;
  color:#51493C;
  font-size: 18px;
}
#commentform #submit:hover{
  background-color: #e74131;
}
.warning{
	background-color: #ffd2d3;
    border:  1px solid #df8f90;
    color: #871414;
}
#bgfooter {
    background-image: url(../images/bgfooter.png);
    background-position: top;
    background-repeat: repeat-x;
}
#loadinggame_ad {
    background-image: url(../images/bg_trans.png);
    border:1px solid #FFFFFF;
    color:#FFFFFF;
}
#progressbar{
  background-color: #FFFFFF;
  border: 5px solid #FFFFFF;
}

#progresstext{
  color: #333333;
}
#progressbarloadbg{
  background-color: #86c9ef;
}
#progressbarloadtext{
  background-color: #86c9ef;
  border: 5px solid #FFFFFF;
  color: #FFFFFF;
}
#progressbarloadtext:hover{
  background-color: #333333;
  color: #FFFFFF;
}
.topplayer{
  color: #333333;
}
.topplayer .playerinfo{
  border: 1px solid #e8e6e7;
  background-color: #f9f9f9;
}
.award-1{
  background-image: url(../images/award_gold.png);
  background-repeat: no-repeat;
}

.award-2{
  background-image: url(../images/award_silver.png);
  background-repeat: no-repeat;
}

.award-3{
  background-image: url(../images/award_bronze.png);
  background-repeat: no-repeat;
}
.post-thumbnail{
  background-color: #fff;
}
.sidebar ul li .playerinfo a{
  color: #E74131;
}
.sidebar ul li .playerinfo a:hover{
  color: #6C6C6C;
}
/* Style for GameTabs  Start */
h2#instructions,
h2#tabs_header,
h2#share,
h2#gameinfo{
      color: #2f2a23;
}
.single-sidebar {
       border: 3px solid  #e9e9e9;
       background-color: #FFFFFF;
}
.rating_wrapper {
      background-color: #51493C;
      color: #FFFFFF;
      border: 1px solid #766A57;
}
.rating_wrapper .inactive,
.rating_wrapper .voted{
      color: #FFFFFF;
}
.game_info_content {
      color:#909090;
}
.single-sidebar2_title {
      background-repeat:repeat-x;
      background-image: url(../images/module_header_bg.png);
}
.single-sidebar2_title span{
      color:#51493c;
      background-color: #ffffff;
}
.single-sidebar2_right{
      border-right: 3px solid #E9E9E9;
}
.single-sidebar2_left{
      border-left: 3px solid #E9E9E9;
}
#game_tabs_wrapper,
#game_tabs_wrapper_left {
      background-color: #FFFFFF;
}
#game_tabs_wrapper .game_tabs_menu2,
#game_tabs_wrapper_left .game_tabs_menu2 {;
    border-bottom: 4px solid #87624f;
    background-color: #82ba35;
    overflow: hidden;
}
#game_tabs_wrapper ul.game_tabs_menu li a,
#game_tabs_wrapper_left ul.game_tabs_menu li a {
      color:#FFF;
}
#game_tabs_wrapper ul.game_tabs_menu li a:link,
#game_tabs_wrapper_left ul.game_tabs_menu li a:link{
       color:#FFF;
       background-color:#51493c;
}
#game_tabs_wrapper ul.game_tabs_menu a:hover,
#game_tabs_wrapper ul.game_tabs_menu li.active a:link,
#game_tabs_wrapper ul.game_tabs_menu li.active a:active,
#game_tabs_wrapper ul.game_tabs_menu li.active a:hover,
#game_tabs_wrapper_left ul.game_tabs_menu a:hover,
#game_tabs_wrapper_left ul.game_tabs_menu li.active a:link,
#game_tabs_wrapper_left ul.game_tabs_menu li.active a:active,
#game_tabs_wrapper_left ul.game_tabs_menu li.active a:hover{
      background-color:#87624F;
      background-image: url(../images/bg_main_menu.png);
      background-repeat:repeat-x;
}
/* Style for GameTabs  End */
.error li{
  list-style: none;
}
.updated p{
  font-size: 13px;
}
.updated {
  background-color: #d4ffcd;
  border: 1px solid #9adf8f;
  color: #258815;
  padding: 6px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 96%;
  margin-bottom: 10px;
}
.error {
  background-color: #ffd2d3;
  border: 1px solid #df8f90;
  color: #871414;
  padding: 6px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 96%;
  margin-bottom: 10px;
}
/* Style for Home Slider */

/* Slider essential styles */

ul.bjqs-controls li a{
  color:#E74131;
}

p.bjqs-caption{
  background-color:rgba(0,0,0,0.7);
  color:#fff;
}

ol.bjqs-markers li a{
  border:3px solid #fff;
  background-color:#333;
}

ol.bjqs-markers li.active-marker a{
  background-color:#178a9c;
}

.braygames_slider_left .desc{
  color: #808080;
  background-color: #FFFFFF;
}
.braygames_slider_right{
  background-color: #FFFFFF;
  border:5px solid #FFFFFF;
}
a.bjqs-prev{
  background-image: url(../images/slider_prev1.png);
  background-repeat: no-repeat;
  background-position: left center;
}

a.bjqs-next{
  background-image: url(../images/slider_next1.png);
  background-repeat: no-repeat;
  background-position: left center;
}
ul.bjqs li .ratings_stars{
    color: #9db14d;
    background-color: #FFFFFF;
}
ul.bjqs li .ratings_stars span{
    color:#7b7b7b;
}
ul.bjqs li .playnow a{
    background-image: url('../images/Blue/play_slider.png');
    background-position: 4px 4px;
    background-repeat:no-repeat;
    color: #fff;
    background-color: #333;
}
ul.bjqs  li a{
    color: #494949;
    background-color: #ffffff;
  }
ul.bjqs  li a:hover {
    color: #04A1DA;
    background-color: #ffffff;
  }

/********* Top Nav Menu *********/
#header_container {
    background-image: url(../images/Blue/bgheader.jpg);
    background-position:top;
    background-repeat:repeat-x;
    border-bottom: 4px solid #00a6d6;
}
.catmenu {
  margin-top:40px;
  }
.catmenu ul {
  background-image: url('../images/dropdown_top.png');
  background-repeat: no-repeat;
  background-position: top;
  }
.catmenu a {
  color: #FFFFFF;
  }
.catmenu li {
  background-color:#00a6d6;
  background-image: url(../images/bg_main_menu.png);
  background-repeat:repeat-x;
  }
.catmenu li li {
  background-color: #fff;
  background-image: url('../images/submenu_li.gif') no-repeat;
  background-repeat: no-repeat;
  background-position: 24px 15px;
  }
.catmenu li a:hover {
  color: #333;
  }

.catmenu > li.sfHover.sf-ul {
  background-color: #FFFFFF;
  }
.catmenu > li.sfHover.sf-ul > a {
  color: #000;
  background-color: #FFFFFF;
  }
.catmenu li.sfHover li a:hover, .catmenu li ul li.sfHover a, .catmenu li ul li ul li.sfHover a {
  background-image: url('../images/submenu_li.gif');
  background-color: #eeeeee;
  background-repeat:no-repeat;
  background-position: 24px 15px;
  }
.catmenu li.sfHover li a, .catmenu li.sfHover li ul li a, .catmenu li.sfHover li ul li ul li a  {
  background-image: url('../images/submenu_li.gif');
  background-repeat:no-repeat;
  background-position: -100px -100px;
  color: #404040;
  }
ul.catmenu li.backLava {
  background-image: url('../images/lavalamp.png');
  background-repeat:no-repeat;
  background-position: center 0px;
  background-color: transparent;
  }

.catmenu li ul li.bottom_bg {
  background-image: url(../images/dropdown_bottom.png);
  background-color: transparent;
  background-position: bottom left;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  }
/* Default style for WP-PageNavi plugin  */

.wp-pagenavi a, .wp-pagenavi span {
    background-color: #86c9ef;
    color: #FFFFFF;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background-color: #b1b1b1;
    color: #FFFFFF;
}
div.item-list-tabs ul li a span {
    background-color: #86c9ef;
}
/* Form wrapper styling */
.search_form-wrapper {
    border: 1px solid #ffffff;
    background-color:#ffffff;
}
/* Form submit button */
.search_form-wrapper button {
    background-image: url(../images/Blue/search_bg.png);
    background-repeat: no-repeat;
}
.search_form-wrapper button:hover {
    background-image: url(../images/Blue/search_bg2.png);
    border: 0;
}
#pregamebox {
	background-color: rgba(255, 255, 255, 0.8);
	border: 5px solid #FFFFFF;
}
#pregamebox .left .title{
      color: #2f2a23;
}
#pregamebox .gametitle {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border:1px solid #dcdcdc;
	color:#777777;
}