#fpgames_head_wrapper{
  float: left;
  width: 32%;
  overflow: hidden;
  margin: 0 5px 0px 5px;
  padding: 10px 0 10px 0px;
  background-image: url(../images/dottedline.png);
  background-position: bottom;
  background-repeat: repeat-x;
  overflow: hidden;
}
#fpgames_head_wrapper .gamebox{
  width: 623px;
  padding:10px;
  margin: 0 0 15px 0px;
}

#fpgames_head_wrapper .gamebox h2{
  overflow: hidden;
  margin: 0 0 5px;
  padding: 5px 0 0 10px;
}

#fpgames_head_wrapper .game_thumb {
  float: left;
  margin-right: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #EEEEEE;
}
#fpgames_head_wrapper .game_thumb:hover {
  background-color: #333333;
}
#fpgames_head_wrapper .game_details{
  float: left;
  text-align: left;
  margin-left: 10px;
  width: 185px;
}

#fpgames_head_wrapper .spacer{
  margin: 10px 0;
}
#fpgames_head_wrapper .gamebox_info {
	float: left;
	padding:5px 0px 0px 0px;
    margin-left: 8px;
	width: 180px;
	text-align: left;
	font-family:arial;
	font-size: 12px;
}