/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}
.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 0px;
	padding: 3px 5px;
	margin: 2px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border: 0px;
}
.wp-pagenavi span.current {
	font-weight: bold;
}
